
header{
    background: rgba(3, 8, 73, 0.733);
    padding: 20px 0;
}
.caixa{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
.escolar{
width: 45%;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li {
    display:inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration:none;
}
.produtos li{
    display: inline-block;

.aee{
    width: 15%;
}
.adap{
    width: 20%;
}
.psico{
    width: 20%;
}