

#banne {
    width: 100%;
}
.principal{
    background: rgb(35, 214, 238);
    

    padding:30px

}
h1 {
    text-align: center
}

p {
    text-align: center;
}

#missao {
    font-size: 20px
}
 
.itens{
    font-style: italic;
}

.beneficios{
    background: #0c1fce;
    padding: 20px;
}
h2{
    text-align: center;
}

ul{
    display: inline-block;
    vertical-align:top ;
    width: 20%;
    margin-right:15%;
}
.imagembeneficios{width: 50%;

}
em strong {
    color: rgb(0, 4, 211);
}